<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Простой слайдер с превью</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/javascripts/one_easy_slider.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="easy-slider">
  <div class="easy-slider-view">
    <img src="https://pp.vk.me/c9357/u84763/96806253/x_c2fb4117.jpg" />
  </div>
  <ul class="easy-slider-preview">
    <li class="active">
      <img src="https://pp.vk.me/c100/u84763/3946516/x_6c354ae4.jpg" />
    </li>
    <li>
      <img src="https://pp.vk.me/c9357/u84763/96806253/x_c2fb4117.jpg" />
    </li>
  </ul>
</div>

</body>
</html>

